body {
    background-color: #252525;
    color: white;
    transition: background-color 1.5s ease;
    transition: color 1.5s ease;
}
.container {
    overflow: auto;
}

div#header {
    position: relative;
    display: inline-block;
}

#header h1 {
    font-family: Arial, Helvetica, sans-serif;
}

div#created-by {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: small;
    font-weight: 100;
    position: relative;
    top: -20px;
}

div.searchFieldSection {
    position: relative;
    width: 180px;
    height: 60px;
    left: 220px;
    top: -20px;
}

.searchField-style:-webkit-input-placeholder {
    color: #b5b5b5;
}

.searchField-style {
    font-family: "Trebuchet MS", Arial, sans-serif;
    background: #f5f5f5;
    position: relative;
    font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    /* width: 270px; */
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    clear: both;
}

.searchField-style:focus {
    background: #fff;
    box-shadow: 0 0 0 3px #39949a, inset 0 2px 3px rgba(0, 0, 0, 0.2), 0px 5px 5px rgba(0, 0, 0, 0.15);
    outline: none;
}

div.searchFieldExample {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    left: 50px;
    top: -5px;
}

#searchedList {
    font-family: "Trebuchet MS", Arial, sans-serif;
    display: none;
    position: absolute;
    left: 0px;
    top: 64px;
    width: 180px;
    z-index: 1;
    background-color: #f1f1f1;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 120px;
    overflow-y: hidden;
    border-top: none;
}

#searchedList li {
    padding: 8px 12px;
    cursor: pointer;
}

#searchedList li:hover {
    background-color: #26bdf8;
    color: #fff
}

div.dropdownSection {
    position: relative;
    width: 120px;
    height: 50px;
    left: 450px;
    top: -75px;
}

div.dropdownExample {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    left: 24px;
    top: -5px;

}

select {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    outline: none;
    width: 20%;
    font-size: 14px;
    width: 120px;
    height: 30px;
    border: 2px solid #26bdf8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

div.checkBoxSection {
    position: relative;
    width: 100px;
    height: 80px;
    left: 630px;
    top: -138px;
}

.checkBoxes {
    outline: 0;
}

div.checkBox {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    left: -5px;
}

div.checkBoxBtns {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 11pt;
    position: relative;
    outline: none;
}

div.newLinkSection {
    position: relative;
    width: 250px;
    height: 38px;
    left: 750px;
    top: -187px;
}

div.newLinkButtons {
    width: 300px;
    height: 100px;
}

.btn-style {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    background-color: #26bdf8;
    color: white;
    transition: background-color 0.5s ease;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.btn-style.class1 {
    position: relative;
    left: 0px;
    top: 0px;
}

.btn-style.class2 {
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #26bdf8;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.radioBtnSection {
    position: relative;
    font-family: "Trebuchet MS", Arial, sans-serif;
    width: 105px;
    height: 80px;
    left: 1050px;
    top: -256px;
}

.radioBtns {
    outline: none;
}

.radioBtnsExample {
    position: relative;
    left: -10px;
}

.shadowDOMSection {
    position: relative;
    width: 200px;
    height: 100px;
    left: 1200px;
    top: -345px;
}

.btn-style.shadow {
    pointer-events: none;
    left: 50px;
}

.searchField-style.shadow {
    position: relative;
    top: 15px;
    left: 10px;
}

.datePickerSection {
    position: relative;
    width: 130px;
    height: 50px;
    left: 1450px;
    top: -410px;
}

.line {
    position: absolute;
    top: 170px;
    /* adjust the value to move the line up or down */
    left: 0;
    right: 0;
    border-top: 1px solid #ffffff;
}

#firstTable {
    border-collapse: collapse;
    position: relative;
    top: -355px;
    right: -20px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#firstTable tr th {
    background-color: #26bdf8;
    color: #ffffff;
    text-align: left;
}

#firstTable th,
#firstTable td {
    padding: 12px 15px;
}

#firstTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#firstTable tbody tr {
    background-color: #ffffff;
}

#firstTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#firstTable tbody tr:last-of-type {
    border-bottom: thin solid #26bdf8;
}

#firstTable tbody tr {
    font-weight: bold;
    color: #26bdf8;
    user-select: none;
}

#firstTable tbody tr:hover {
    background-color: #219bcc;
    color: #fff
}

#firstTable th {
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.showHideSection {
    position: relative;
    width: 200px;
    height: 100px;
    left: 600px;
    top: -724px;
}

.btn-style.class3 {
    position: relative;
    left: 40px;
}

.btn-style.class4 {
    position: relative;
    left: 50px;
}

.searchField-style.class2 {
    position: relative;
    left: 12px;
    top: 20px;
    outline: none;
}

.rangeInputSection {
    position: relative;
    width: 300px;
    height: 60px;
    left: 900px;
    top: -800px;
}

.btn-style.class5 {
    position: relative;
    left: 80px;
    top: -24px;
    pointer-events: none;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 50%;
    background: #26bdf8;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #5c5c5c, 0px 0px 1px #4d4d4d; */
}

.range-slider {
    position: relative;
    right: 0px;
    top: 0px;
    -webkit-appearance: none;
    width: 250px;
    height: 5px;
    border-radius: 5px;
    background: #f5f5f5;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 50%;
    background: #26bdf8;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #5c5c5c, 0px 0px 1px #4d4d4d; */
}

.range-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #26bdf8;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}

.searchField-style.class1 {
    position: relative;
    left: 260px;
    top: -22px;
    width: 58px;
    height: 5px;
    text-align: center;
    overflow-y: hidden;
}

.tooltip {
    background: #26bdf8;
    color: white;
    padding: 4px 12px;
    position: absolute;
    margin: -225px -900px;
    border-radius: 4px;
    transform: translateX(-5%);
}

.tooltip::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    background: #26bdf8;
}

.popUpSection {
    position: relative;
    width: 200px;
    height: 60px;
    left: 1300px;
    top: -860px;
}

.alertBtn {
    position: relative;
    left: 30px;
    top: -24px;
}

.confirmBtn {
    position: relative;
    left: 30px;
    top: -24px;
}

.enterNameField {
    position: relative;
    left: 8px;
    top: -5px;
}

.hoverElementsSection {
    position: relative;
    width: 180px;
    height: 80px;
    left: 1550px;
    top: -944px;
}

.mouse-hover-content {
    display: none;
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: absolute;
    left: 0px;
    top: 36px;
    width: 100%;
    z-index: 1;
    background-color: #f1f1f1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 120px;
    overflow-y: hidden;
    border-top: none;
}

.mouse-hover-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mouse-hover-content a:hover {
    background-color: #26bdf8;
    color: #fff
}

.uploadSection {
    position: relative;
    left: 850px;
    top: -900px;
    width: 0;
}

#displayed-image {
    width: 500px;
    height: 500px;
    border: 1px solid rgb(255, 255, 255);
}

.file-upload-style {
    position: relative;
    right: 260px;
    top: 40px;
}

.file-upload-style::file-selector-button {
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: #26bdf8;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.dragAndDropSection {
    position: relative;
    width: 800px;
    left: 10px;
    top: -1150px;
}

div.empty {
    display: inline-block;
    height: 165px;
    width: 165px;
    position: relative;
    top: 0px;
    margin: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #26bdf8;

}

.fill {
    background-image: url('http://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.dynamicElementsSection {
    position: relative;
    width: 200px;
    top: -1500px;
    left: 1600px;
}

.button {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: absolute;
    background-color: #ff4848;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.alert {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    left: -80px;
    background-color: #26bdf8;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.success {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    left: 3px;
    background-color: #1a9cad;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.challengingDOMBtn {
    position: relative;
    width: 125px;
    left: -30px;
    top: -20px;
    pointer-events: none;
}

.iframeSection {
    position: relative;
    width: 0;
    left: 750px;
    top: -1100px;
}

iframe {
    width: 1050px;
    height: 900px;
}

#demo-tabpane-list {
    position: relative;
    width: 370px;
    top: -2050px;
    left: 200px;
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item-action {
    width: 360px;
    height: 50px;
    color: #495057;
    text-align: inherit;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

.btn-style.class12 {
    position: relative;
    left: 130px;
    top: -30px;
    pointer-events: none;
}

div#timerButtons {
    position: relative;
    width: 420px;
    left: 1555px;
    top: -2600px;
}

.btn-style.timerBtn {
    position: relative;
    width: 75px;
    left: 0px;

}

.message {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    left: -140px;
    top: 50px;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
}

.box {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    background-color: #d4edda;
    color: #155724;
    text-align: center;
}

.closebtn {
    padding: 8px 10px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease;
    pointer-events: auto;
}

.closebtn:hover {
    color: #555;
}

div.logout {
    position: relative;
    top: -3265px;
    left: 1830px;
}

div img.logoutImg {
    cursor: pointer;
}

div p {
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    top: -23px;
    left: -15px;
    font-weight: bold;
}

.switch {
    position: relative;
    top: -3350px;
    left: 1700px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #26bdf8;
}

input:focus+.slider {
    box-shadow: 0 0 1px #26bdf8;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}